<h1>Projects</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <% project.user_project_rels.each do |rels| %>
    <td><%= rels.role %></td>
    <% end %>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
