<h1>Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.description %></td>
    <td><%= project.user_project_rels.find_by_user_id(current_user).role %></td>
    <% if project.user_project_rels.find_by_user_id(current_user).role== "Administrator" %>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/><td/>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
