<h1>List of Projects</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'View', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
<<<<<<< HEAD
    <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
=======
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= pluralize(project.user_project_rels.count, 'user') %></td>
>>>>>>> new_branch_name
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
