<br/>
<h2> Summary of <%= @project.name %></h2>
<%= role = @project.user_project_rels.find_by_user_id(current_user).role %>
<p id="notice"><%= notice %></p>
</p>
<div>
<p> 
<%= link_to image_tag("prev.png", :border=>0, :class => 'icon'), projects_path %>
</p>
</div>
<div id="page-container">
<div id="other-left">
<h3 align="center"><u>Tasks</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Status</th>
    <th scope="col">Priority</th>
    <th></th>
    <th></th>
  </tr>

<% @project.tasks.each do |task| %>
<% @project.tasks.limit(10).each do |task| %>
  <tr>
    <td scope="row"><%= link_to task.title, [@project,task] %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,task] %></td>
    <% if !(role=="Client") %>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'), edit_project_task_path(@project,task) %></td>
    <% else %>
    <td/>
    <%end%>
    <% if role=="Administrator" %>
    <td><%= link_to  image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,task] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<% if role=="Administrator" %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Task', new_project_task_path(@project) %>
<% end %>
 | <%= link_to 'More ...', project_tasks_path(@project) %>
</div>

<div id="other-right">
<h3 align="center"><u>Bugs</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Status</th>
    <th scope="col">Priority</th>
    <th></th>
    <th></th>
  </tr>

<% @project.bugs.each do |bug| %>
<% @project.bugs.limit(10).each do |bug| %>
  <tr>
    <td scope="row"><%= link_to bug.title, [@project,bug] %></td>
    <td><%= bug.status %></td>
    <td><%= bug.priority %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,bug] %></td>
    <% if !(role=="Client") %>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'), edit_project_bug_path(@project,bug) %></td>
    <% else %>
    <td/>
    <%end%>
    <% if role=="Administrator" %>
    <td><%= link_to  image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,bug], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<% if role=="Administrator" %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Bug', new_project_bug_path(@project) %>
<% end %>
 | <%= link_to 'More ...', project_bugs_path(@project) %>
</div>
</div>

<div id="page-container">
<div id="other-left">
<h3 align="center"><u>Resources</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th></th>
    <th></th>
  </tr>
<% @project.resources.each do |resource| %>
<% @project.resources.limit(5).each do |resource| %>
  <tr>
    <td scope="col"><%= link_to resource.title, [@project,resource] %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,resource] %></td>
    <% if !(role=="Client") %>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'),  edit_project_resource_path(@project,resource) %></td>
    <td><%= link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,resource], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<% if !(role=="Client") %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Resource', new_project_resource_path(@project) %>
<% end %>
 | <%= link_to 'More ...', project_resources_path(@project) %>
</div>

<div id="other-right">
<h3 align="center"><u>Users</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">User</th>
    <th scope="col">Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.user_project_rels.each do |user_project_rel| %>
<% @project.user_project_rels.limit(5).each do |user_project_rel| %>
  <tr>
    <td><%= user_project_rel.username %></td>
    <td><%= user_project_rel.role %></td>
    <% if role=="Administrator" %>
    	<td><%= link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), project_user_path(@project,user_project_rel), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if role=="Administrator" %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'Add User', new_project_user_path(@project) %>
<% end %>
 | <%= link_to 'More ...', project_users_path(@project) %>
</div>
</div>
<%= render "layouts/tag_comment", thingy: @project, url: comment_project_path, tag_url: tag_project_path(@project) %>
<%= render "layouts/tag_comment", thingy: @project, url: comment_project_path %>
