<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<% @rels.each do |rel| %>
<p>
<b>Username: </b> <%=User.find(rel.user_id).username%>
<b> Role: </b> <%= rel.role %>
</p>
<% end %>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
