<br/>
<p id="notice"><%= notice %></p>
<h2> Summary of <%= @project.name %></h2>
</p>
<div id="page-container">
<div id="other-left">
<h3 align="center"><u>Tasks</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Status</th>
    <th scope="col">Priority</th>
    <th></th>
    <th></th>
  </tr>

<% @project.tasks.each do |task| %>
  <tr>
    <td scope="row"><%= task.title %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,task] %></td>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'), edit_project_task_path(@project,task) %></td>
    <% if @isAdmin %>
    <td><%= link_to link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,task] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<% if @isAdmin %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Task', new_project_task_path(@project) %>
<% end %>
</div>

<div id="other-right">
<h3 align="center"><u>Bugs</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Status</th>
    <th scope="col">Priority</th>
    <th></th>
    <th></th>
  </tr>

<% @project.bugs.each do |bug| %>
  <tr>
    <td scope="row"><%= bug.title %></td>
    <td><%= bug.status %></td>
    <td><%= bug.priority %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,bug] %></td>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'), edit_project_bug_path(@project,bug) %></td>
    <% if @isAdmin %>
    <td><%= link_to link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,bug], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<% if @isAdmin %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Bug', new_project_bug_path(@project) %>
<% end %>
</div>
</div>

<div id="page-container">
<div id="other-left">
<h3 align="center"><u>Resources</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th></th>
    <th></th>
  </tr>
<% @project.resources.each do |resource| %>
  <tr>
    <td scope="col"><%= resource.title %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,resource] %></td>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'),  edit_project_resource_path(@project,resource) %></td>
    <% if @isAdmin %>
    <td><%= link_to link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,resource], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Resource', new_project_resource_path(@project) %>
</div>

<div id="other-right">
<h3 align="center"><u>Users</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">User</th>
    <th scope="col">Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.user_project_rels.each do |user_project_rel| %>
  <tr>
    <td><%= user_project_rel.username %></td>
    <td><%= user_project_rel.role %></td>
    <% if @isAdmin %>
    	<td><%= link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), project_user_path(@project,user_project_rel), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if @isAdmin %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'Add User', new_project_user_path(@project) %>
<% end %>
</div>
</div>
<div>
<p> 
<%= link_to image_tag("prev.png", :border=>0, :class => 'icon'), projects_path %>
</p>
</div>
