<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :permissions %><br />
    <%= f.text_field :permissions %>
  </div>
  <div class="field">
    <%= f.label :user_project_rel_id %><br />
    <%= f.number_field :user_project_rel_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
