<h1>Listing resources</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Permissions</th>
    <th>User project rel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.content %></td>
    <td><%= resource.permissions %></td>
    <td><%= resource.user_project_rel_id %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
