<% role = Project.find(params[:project_id]).user_project_rels.find_by_user_id(current_user).role %>
<% @project = Project.find(params[:project_id]) %>
<h3 align="center"><u>Resources</u></h3>
<table id="hor-minimalist">
  <tr>
    <th scope="col">Title</th>
    <th></th>
    <th></th>
  </tr>
<% @pagination=@project.resources.paginate(:page => params[:page], :per_page => 10).each do |resource| %>
  <tr>
    <td scope="col"><%= resource.title %></td>
    <td><%= link_to image_tag("show.png", :border=>0, :class => 'icon'), [@project,resource] %></td>
    <% if !(role=="Client") %>
    <td><%= link_to image_tag("edit.png", :border=>0, :class => 'icon'),  edit_project_resource_path(@project,resource) %></td>
    <td><%= link_to image_tag("delete.jpeg", :border=>0, :height => '20px', :width=>'20px'), [@project,resource], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td/>
    <td/>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @pagination %>
<br/>
<% if !(role=="Client") %>
<%=image_tag("add.jpeg", :height=>"10px", :width=>"10px")%>
<%= link_to 'New Resource', new_project_resource_path(@project) %>
<% end %>