<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>


<p>
  <b>Content:</b>
  <%= @resource.content %>
</p>

<p>
  <b>Permissions:</b>
  <%= @resource.permissions %>
</p>





<%= link_to image_tag("prev.png", :border=>0, :class => 'icon'), project_path(@project) %> |<%= link_to image_tag("edit.png", :border=>0, :class => 'icon'), edit_project_resource_path(@project,@resource)  %> 
