<p id="notice"><%= notice %></p>
<h2>View Bug: <%= @bug.title %></h2>

<p>
  <b>Bug:</b>
  <%= @bug.title %>
</p>

<p>
  <b>Assigned to:</b>
  <% @bug.users.each do |user| %>
  <%= user.username %>
  <%end%>
</p>

<p>
  <b>Status:</b>
  <%= @bug.status %>
</p>

<p>
  <b>Priority:</b>
  <%= @bug.priority %>
</p>

<p>
  <b>Percentage completed:</b>
  <%= @bug.percentage_completed %>
</p>

<p>
  <b>Due date:</b>
  <%= @bug.due_date %>
</p>

<p>
  <b>Estimated date:</b>
  <%= @bug.estimated_date %>
</p>



<%= link_to image_tag("prev.png", :border=>0, :class => 'icon'), project_path(@project) %> | <%= link_to image_tag("edit.png", :border=>0, :class => 'icon'), edit_project_bug_path(@project,@bug) %>
