<div id="comments">
  <h3 align="center"><u>Comments</u></h3>

  <div class="list-comments">
  <%= pluralize(thingy.comment_threads.count, "Comment") %>
  <% thingy.comment_threads.each do |comment| %>
    <div class="comment-div">
      <%= comment.user.username %> (<%= comment.created_at.strftime("%m-%d-%y %I:%M") %>): <%= comment.body %>
    </div>
  <% end %>
  </div>

  <%= form_for(@comment, url: url) do |f| %>
  <br />
  Add a comment
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>