<%if @user_list.nil? || @user_list.size==0 %>
<div id="error_explanation">
      <h2>All the users are already added in the current project</h2>
<%else %>
<%= form_for(@user_project_rel) do |f| %>
  <% if @user_project_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_project_rel.errors.count, "error") %> prohibited this User from being added:</h2>

      <ul>
      <% @user_project_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select :user, @user_list , :id, :username %>
  </div>
    <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, %w(Administrator Developer Tester Client) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%end%>
